
#page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 0 8.14%;
    background-color: #fff;
}
#page-header-placeholder {
    height: 45px;
}
#page-header .logo img {
    width: 89px;
    height: 45px;
    vertical-align: top;
}
