.change_student_list {
            padding: 0 0.8rem;
            position: relative;
            /*border-bottom: 1px solid #eaeaea;*/
        }

        .change_student_list:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 1.2rem;
            right: 0.8rem;
            height: 1px;
            background: #eaeaea;
            /*transform: scaleY(0.5);
            -webkit-transform: scaleY(0.5);*/
            transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
        }

        .change_student_list .change_student_item {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            /*border-bottom: 1px solid #eaeaea;*/
        }
        /*.change_student_list .change_student_item img{
            width:0.6rem;
            height: 0.6rem;
        }*/

        .change_student_list .change_student_item .checkImg {
            width: 1rem;
            height: 1rem;
            margin-right: 0.8rem;
        }

        .change_student_list .change_student_item .student_info {
            flex: 1;
            height: 3rem;
            display: flex;
            align-items: center;
            overflow: hidden;
            border-bottom: 1px solid #EAEAEA;
        }

        .change_student_list .change_student_item:last-child .student_info {
            border: none;
        }

        .change_student_list .change_student_item .student_info img {
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 100%;
        }

        .change_student_list .change_student_item .student_info p {
            font-size: 0.8rem;
            color: #2F2F2F;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 0.5rem;
        }
        /*.change_student_list .change_student_item .change_student_title{
            padding:0 0.7rem;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            color: #2F2F2F;
            font-size: 0.8rem;
        }*/

        .change_student_fixed {
            padding: 0 0.8rem;
            position: fixed;
            bottom: 0rem;
            left: 0;
            width: 100%;
            height: 2.7rem;
            background: #fff;
            box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
        }

        .change_student_fixed img {
            width: 1rem;
            height: 1rem;
        }

        .change_student_fixed span {
            padding: 0 0.5rem;
            flex: 1;
            font-size: 0.75rem;
            color: #2F2F2F;
        }

        .change_student_fixed .change_student_btn {
            width: 5.4rem;
            height: 2rem;
            background: #5296FF;
            border-radius: 1rem;
            color: #fff;
            text-align: center;
            font-size: 0.75rem;
            line-height: 2rem;
        }