.vueApp {
            background: linear-gradient(90deg, rgba(118, 125, 212, 1) 0%, rgba(143, 154, 255, 1) 100%);
            width: 100%;
            height: 100%;
            overflow: hidden;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        header {
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            left: 0;
        }

        .teacher_test_detail_header {
            height: 3rem;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 0 0.3rem;
            color: #2F2F2F;
            font-size: 0.8rem;
            position: relative;
            justify-content: space-between;
        }

        .teacher_test_detail_header img {
            width: 1.3rem;
            height: 1.3rem;
            margin: 0.5rem;
        }

        .teacher_test_detail_header p {
            position: absolute;
            width: 6rem;
            left: 50%;
            text-align: center;
            transform: translateX(-50%);
            color: #fff;
            font-size: 0.8rem;
        }

        .teacher_test_detail_header span {
            /*height: 1.3rem;*/
            line-height: 0.7rem;
            width: auto;
            font-size: 0.65rem;
            font-weight: 500;
            padding: 0.3rem 0.7rem;
            color: #fff;
            background: rgba(0, 0, 0, 0.3455);
            border-radius: 0.7rem;
        }

        .teacher_test_detail_card {
            padding: 0.2rem 1.1rem;
            padding-bottom: 0.8rem;
            position: absolute;
            top: 3rem;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
        }

        .teacher_test_detail_card .teacher_test_detail_question_name {
            background: #fff;
            padding: 1rem 1.7rem;
            border-radius: 0.5rem;
            height: 100%;
            overflow: scroll;
        }

        .teacher_test_detail_question_title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 0.25rem;
        }

        .teacher_test_detail_question_title img {
            width: 1rem;
            height: 1rem;
            margin-top: 0.2rem;
            margin-bottom: 0.1rem;
        }

        .teacher_test_detail_question_title p {
            font-size: 0.95rem;
            line-height: 1.3rem;
            flex: 1;
            font-weight: 500;
            padding-left: 0.4rem;
        }

        .teacher_test_question_item_option {
            width: 100%;
            min-height: 2.7rem;
            padding-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .teacher_test_question_item_option p {
            flex: 1;
            word-break: break-all;
            font-size: 1rem;
            color: #2F2F2F;
            padding-left: 0.55rem;
        }

        .teacher_test_question_item_option .question_item_num {
            width: 1.7rem;
            height: 1.7rem;
            line-height: 1.7rem;
            text-align: center;
            font-size: 0.6rem;
            color: #2f2f2f;
            font-weight: 500;
            background: url(../../image/release/question_card.png) no-repeat;
            background-size: 100% 100%;
            border-radius: 100%;
        }

        .teacher_test_question_item_option .question_item_num.question_do_it {
            background: url(../../image/release/test_success.png) no-repeat;
            background-size: 100% 100%;
        }